/*
!.gitignore
!composer.json
!modman
!readme.MD
!app/
app/*

!app/code/
app/code/*
!app/code/community/
app/code/community/*
!app/code/community/Webmasterei/
app/code/community/Webmasterei/*
!app/code/community/Webmasterei/Slider

!app/design/
app/design/*
!app/design/frontend/
app/design/frontend/*
!app/design/frontend/base/
app/design/frontend/base/*
!app/design/frontend/base/default
app/design/frontend/base/default/*
!app/design/frontend/base/default/template/
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/webmasterei/slider

!/app/design/frontend/base/default/layout/
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/webmasterei/webmasterei_slider.xml

!/app/design/frontend/base/default/template/
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/webmasterei/
/app/design/frontend/base/default/template/webmasterei/*
!/app/design/frontend/base/default/template/webmasterei/slider/


!app/etc/
app/etc/*
!app/etc/modules/
app/etc/modules/*
!app/etc/modules/Webmasterei_Slider.xml

!js/
js/*
!js/slider
!js/jquery-scrolldepth/
js/jquery-scrolldepth/*
!js/jquery-scrolldepth/jquery.scrolldepth.js

!skin/
skin/*
!skin/frontend/
skin/frontend/*
!skin/frontend/base/
skin/frontend/base/*
!skin/frontend/base/default/
skin/frontend/base/default/*
!skin/frontend/base/default/css/
skin/frontend/base/default/css/*
!skin/frontend/base/default/css/slider.css

!skin/frontend/base/default/scss/
skin/frontend/base/default/scss/*
!skin/frontend/base/default/scss/slider.scss
